

.block-page{
    width: 100% !important; height: 100vh !important;
    position: fixed !important; top: 0 !important; left: 0 !important; z-index: 10000 !important;
    background-color: white !important;

    display: flex; justify-content: center; align-items: center; flex-flow: column; gap: 25px;
}

.block-page-text{
    margin: 0 !important; padding: 0 !important;
    font-size: 2rem !important; font-family: cursive !important; 
    font-weight: bold !important; letter-spacing: 3px !important;
    text-shadow: 0 1px 3px black !important;
    color: black !important;
}